//
// Input groups
//

// Overridden/Extended styles
//
.input-group {

  // All inner elements (Exepted the first child)
  //
  > *:not(:first-child) {

    // Starts from Medium devices (Tablets, 768px and up).
    //
    @media (min-width: 768px) {
      margin-left: 5px;
    }
  }

  // Sizing options
  //
  // Remix the default form control sizing classes into new ones for easier
  // manipulation.
  ///
  > select.form-select {
    width: 100%;
    padding: 6px 15px 6px 7px;
    margin-bottom: 5px;

    // Starts from Medium devices (Tablets, 768px and up).
    //
    @media (min-width: 768px) {
      width: 200px;
      margin-bottom: 15px;
    }
  }
}
